<%=name %>
<%=age %>
<%=rollno %>
<%=batch %>
<%=branch %>

<form method="get"> 
    <input name="name">
    <br>
    <input name="age">
    <br>
    <input name="rollno">
    <br>
    <input name="batch">
    <br>
    <input name="branch">
    <br>
    <input type="submit"
</form>