<html>
    <title>Submitted</title>
    <body style="background:cyan;">
    <div style="background:white; height: 700px;width: 300px;border:1px solid lightcyan; margin-left:600px;">
        <div style="height:14%;width:286px;background:rgb(202, 15, 196); padding-top:20px;font-size: xx-large;color:white;padding-left:14px;"> 
            Response Submitted
        </div>
        <div style="height:86%;width:100%;font-size: large;">
            Name : <%=data.Name  %><br><br>
            Roll No. : <%=data.Roll_No %><br><br>
            Age : <%=data.Age %><br><br>
            Gender : <%=data.Gender %><br><br>
            Branch : <%=data.Branch  %><br><br>
        </div>
    </div>
    </body>
</html>